.summary {

    position: relative;
    border-radius: 12px;
    border: 1px solid #383838;
    width: 50%;
    margin: auto;
    background-color:#383838;
    color: white;
    text-align: center;
    margin-top: -10rem;
    padding: 1rem;
}

.summary h2 {
    font-size: 2rem;
    margin-top: 0;
}